<?xml version="1.0"?>
<!--
Copyright (C) 2016 E-Comprocessing™

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

@author      E-Comprocessing
@copyright   2016 E-Comprocessing™
@license     http://opensource.org/licenses/gpl-2.0.php GNU General Public License, version 2 (GPL-2.0)
-->
<config>
    <modules>
       <EComProcessing_Genesis>
         <version>1.3.1</version>
       </EComProcessing_Genesis>
    </modules>

    <global>
        <blocks>
            <ecomprocessing>
                <class>EComProcessing_Genesis_Block</class>
            </ecomprocessing>
        </blocks>

        <models>
            <ecomprocessing>
                <class>EComProcessing_Genesis_Model</class>
            </ecomprocessing>
        </models>

        <helpers>
            <ecomprocessing>
                <class>EComProcessing_Genesis_Helper</class>
            </ecomprocessing>
        </helpers>

        <payment>
            <groups>
                <ecomprocessing>EComProcessing</ecomprocessing>
            </groups>
        </payment>

        <events>
            <checkout_submit_all_after>
                <observers>
                    <EComProcessing_Genesis>
                        <class>EComProcessing_Genesis_Observer_CheckoutSubmitAllAfter</class>
                        <method>handleAction</method>
                    </EComProcessing_Genesis>
                </observers>
            </checkout_submit_all_after>
            <sales_quote_address_collect_totals_before>
                <observers>
                    <EComProcessing_Genesis>
                        <class>EComProcessing_Genesis_Observer_SalesQuoteAddressCollectTotalsBefore</class>
                        <method>handleAction</method>
                    </EComProcessing_Genesis>
                </observers>
            </sales_quote_address_collect_totals_before>
        </events>
        
    </global>

    <frontend>
        <routers>
            <ecomprocessing>
                <use>standard</use>
                <args>
                    <module>EComProcessing_Genesis</module>
                    <frontName>ecomprocessing</frontName>
                </args>
            </ecomprocessing>
        </routers>
        <secure_url>
            <ecomprocessing>/ecomprocessing/</ecomprocessing>
        </secure_url>
        <translate>
            <modules>
                <EComProcessing_Genesis>
                    <files>
                        <default>EComProcessing_Genesis.csv</default>
                    </files>
                </EComProcessing_Genesis>
            </modules>
        </translate>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <EComProcessing_Genesis>
                    <files>
                        <default>EComProcessing_Genesis.csv</default>
                    </files>
                </EComProcessing_Genesis>
            </modules>
        </translate>
    </adminhtml>

    <default>
        <payment>
            <ecomprocessing_direct>
                <model>ecomprocessing/direct</model>
                <order_status>pending</order_status>
                <title>Credit Card (E-Comprocessing Direct)</title>
                <cctypes>VI,MC,SM,AE,DI,JCB,OT</cctypes>
                <genesis_type>authorize</genesis_type>
                <recurring_enabled>0</recurring_enabled>
                <recurring_scheduler_cron_expr>*/30 * * * *</recurring_scheduler_cron_expr>
                <cron_recurring_log_file>ecomprocessing-recurring.log</cron_recurring_log_file>
                <group>ecomprocessing</group>
            </ecomprocessing_direct>
            <ecomprocessing_checkout>
                <model>ecomprocessing/checkout</model>
                <title>Credit Card (E-Comprocessing Checkout)</title>
                <payment_action>order</payment_action>
                <genesis_types>sale</genesis_types>
                <recurring_enabled>0</recurring_enabled>
                <recurring_scheduler_cron_expr>*/30 * * * *</recurring_scheduler_cron_expr>
                <cron_recurring_log_file>ecomprocessing-recurring.log</cron_recurring_log_file>
                <order_status>pending</order_status>
                <group>ecomprocessing</group>
            </ecomprocessing_checkout>
        </payment>
    </default>

    <crontab>
        <jobs>
            <ecomprocessing_direct_charge_recurring_profile>
                <schedule>
                    <config_path>payment/ecomprocessing_direct/recurring_scheduler_cron_expr</config_path>
                </schedule>

                <run>
                    <model>ecomprocessing/task_recurring::processDirect</model>
                </run>
            </ecomprocessing_direct_charge_recurring_profile>

            <ecomprocessing_checkout_charge_recurring_profile>
                <schedule>
                    <config_path>payment/ecomprocessing_checkout/recurring_scheduler_cron_expr</config_path>
                </schedule>

                <run>
                    <model>ecomprocessing/task_recurring::processCheckout</model>
                </run>
            </ecomprocessing_checkout_charge_recurring_profile>
        </jobs>
    </crontab>
</config>
